.boxFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* box sizing border box */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  text-decoration: none;
}
html {
  font-size: 62.5%;
}
h1 {
  font-size: 10rem;
  font-family: 'Rubik', sans-serif;
  color: #4c812b;
}
h2 {
  font-size: 6.4rem;
  font-family: 'Roboto';
}
h3 {
  font-size: 2.4rem;
  font-family: 'Roboto';
}
h4 {
  font-size: 2.2rem;
  font-family: 'Roboto';
}
p {
  font-size: 1.8rem;
  font-family: 'Roboto';
}
a {
  font-size: 2rem;
  font-family: 'Roboto';
  color: black;
}
.navIcon {
  height: 2.4rem;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 5rem;
  border-bottom: white solid 1px;
  background-color: #b6c8a9;
  position: fixed;
  top: 0;
}
.leftNav {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width:800px) {
  .leftNav .featuresAnchor {
    display: none;
  }
}
@media (max-width:500px) {
  .leftNav .featuresAnchor {
    display: none;
  }
}
.rightNav {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5rem;
}
.jumbo {
  background-color: #ebebe1;
}
@media (max-width:500px) {
  .jumbo {
    max-width: 500px;
  }
}
.jumboIcon {
  height: 10rem;
}
.leftTitle {
  width: 50%;
  height: 18rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
@media (max-width:800px) {
  .leftTitle {
    width: 100%;
    justify-content: center;
  }
}
@media (max-width:500px) {
  .leftTitle {
    width: 100%;
    padding-right: 3em;
  }
}
.rightTitle {
  width: 100%;
  height: 9rem;
  display: flex;
  justify-content: center;
}
@media (max-width:500px) {
  .rightTitle {
    width: 100%;
    padding-right: 3em;
  }
}
.lowerJumbo {
  display: flex;
  flex-direction: column;
  height: 23em;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5rem;
}
.mainButton {
  background-color: #4c812b;
  border: none;
  font-size: 3.5rem;
  color: white;
  padding: 1.2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  text-align: center;
  display: inline-block;
  border-radius: 0.8rem;
}
.mainButton:hover {
  background-color: white;
  color: #4c812b;
  border: #4c812b solid 2px;
}
@media (max-width:500px) {
  .mainImage {
    max-width: 500px;
  }
}
.featuresHeading {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ebebe1;
  border-bottom: solid white 1px;
}
.featuresInfo {
  background-color: #ebebe1;
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 3em;
}
@media (max-width:800px) {
  .featuresInfo {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}
.boxLeft {
  height: 230px;
  width: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
}
@media (max-width:800px) {
  .boxLeft {
    width: 100%;
    align-items: center;
    border-left: none;
  }
}
.middleBox {
  border-left: solid black 1px;
  border-right: solid black 1px;
  height: 230px;
  width: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
}
@media (max-width:800px) {
  .middleBox {
    width: 100%;
    align-items: center;
    border-left: none;
    border-right: none;
  }
}
.boxRight {
  height: 230px;
  width: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
}
@media (max-width:800px) {
  .boxRight {
    width: 100%;
    align-items: center;
    border-right: none;
  }
}
.aboutContainer {
  background-image: url("../Images/aboutImage2.jpeg");
  width: 100%;
  height: 1000px;
}
.aboutTitle {
  font-size: 3rem;
}
.aboutMe {
  padding-top: 10%;
  padding-left: 20%;
  padding-right: 10%;
  width: 100%;
  display: flex;
}
.profile {
  width: 60%;
  border-radius: 50%;
}
.aboutAnchor {
  font-size: 1.8rem;
  color: red;
}
.linkAnchor {
  color: #4c812b;
}
.signUpContainer {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  position: relative;
  width: 800px;
  height: 592px;
  background: #FFF;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
@media (max-width:850px) {
  .signUpContainer {
    width: 100%;
  }
}
.leftSignUp {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
@media (max-width:850px) {
  .leftSignUp {
    width: 100%;
  }
}
.rightSignUp {
  width: 50%;
}
@media (max-width:850px) {
  .rightSignUp {
    display: none;
  }
}
.getStartedText {
  padding-bottom: 20px;
}
input[type="text"],
input[type="password"],
input[type="tel"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: 1px solid #AAA;
  border-radius: 10px;
  font-size: 15px;
  transition: 0.2s ease;
}
input[type="submit"] {
  margin-top: 28px;
  cursor: pointer;
  background-color: #4c812b;
  border: none;
  font-size: 2.4rem;
  color: white;
  padding: 1.2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  text-align: center;
  display: inline-block;
  border-radius: 0.8rem;
}
@media (max-width:850px) {
  .signUpImg {
    display: none;
  }
}
/* .dashContainer {
    margin-top: 120px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.dashTitle{
    font-size: 5rem;
}
.box1 {
    height: 770px;
    width: 550px;
    border: black solid 1px;
}

.rightHandSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 770px;
}

.box2 {
    width: 640px;
    height: 350px;
    border: solid black 1px;
}

.box3 {
    width: 640px;
    height: 500px;
    border: solid black 1px;
} */
