
.jumbo{
   background-color: #ebebe1;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding-top: 120px; 
   @media(@phone){
       max-width: 500px;
   }
}

.jumbo div {
  padding-top: 20px;
}

#subTitle {
  padding-top: 60px;
  padding-bottom: 60px;
}

#jumboIcon {
    font-size: 8rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    color: #4c812b;
    @media(@phoneSmall){
        font-size: 5rem;
    }
}

.buttonDiv {
  padding-bottom: 20px;
}

.imageContainer {
  background-image: url(../Images/HomeImage.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 391px; 
}


.lowerJumbo {
    display: flex;
    flex-direction: column;
    height: 23em;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5rem;
}

.mainButton {
  .buttonStyle(@buttonBackground, @buttonFontColour, @buttonFontSize);
}
.mainButton:hover {
    background-color: white;
    color: #4c812b;
    border: #4c812b solid 2px;
}
.mainImage {
    width: 100%;
    @media(@tablet){
        display: none;
    }
    @media(@phone){
        display: none;
    }
}
.featuresHeading {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #ebebe1;
    border-bottom: solid white 1px;
}
.featuresInfo{
    background-color: #ebebe1;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 3em;
    @media(@tablet){
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
  
}
.boxLeft {
    height: 230px;
    width: 20%;
    text-align: center;
    .boxFlex();
    justify-content: space-around;
    @media(@tablet){
        width: 100%;
        align-items: center;
        border-left: none;
    }
}    
   
.middleBox {
    border-left: solid black 1px;
    border-right: solid black 1px;
    height: 230px;
    width: 20%;
    text-align: center;
    .boxFlex();
    justify-content: space-around;
    @media(@tablet){
        width: 100%;
        align-items: center;
        border-left: none;
        border-right: none;
      }
    }
  
.boxRight {
    height: 230px;
    width: 20%;
    text-align: center;
    .boxFlex();
    justify-content: space-around;
    @media(@tablet){
        width: 100%;
        align-items: center;
        border-right: none;
    }
}    
.fas, .far{
    font-size: 3rem;
}
   