#navIcon {
    font-size: 2rem;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    width: 100%;
    height: 5rem;
    border-bottom: white solid 1px;
    background-color: #b6c8a9;
    position: fixed;
    top: 0;

}

.leftNav {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    .featuresAnchor {
        @media(@tablet){
            display:none;
            width: 60%;
        }
    }
}

.rightNav { 
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5rem; 
    @media(@tablet){
        padding-right: 2rem;
        width: 40%;
    }
}
#logIn {
  display: block;
  background-color: white;
  text-align: center;
  height: 40px;
  width: 100px;
  padding: 0.9rem;
  border-radius: 5px;
  color: #4c812b;
  
}
