@defaultFontSize: 100%;
@mobileFontSize: 150%;

@phone: (~'max-width:500px');
@tablet: (~'max-width:800px');
@tabletWide: (~'max-width:850px');
@phoneWide: (~'max-width:550px');
@phoneSmall: (~'max-width: 420px');
@phoneVerySmall: (~'max-width: 365px');
@largeScreen: (~'min-width: 1437px');

@mainFont: 'Roboto';

@buttonBackground: #4c812b;
@buttonFontSize: 3.5rem;
@buttonFontColour: white;
